<h1>Listing sales</h1>

<table>
  <tr>
    <th>Copy</th>
    <th>Customer</th>
    <th>Transaction date</th>
    <th>Employee</th>
    <th>Transaction type</th>
    <th>Transaction ammount</th>
    <th>Coupon note</th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%=h sale.copy_id %></td>
    <td><%=h sale.customer_id %></td>
    <td><%=h sale.transaction_date %></td>
    <td><%=h sale.employee_id %></td>
    <td><%=h sale.transaction_type %></td>
    <td><%=h sale.transaction_ammount %></td>
    <td><%=h sale.coupon_note %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sale', new_sale_path %>