<p>
  <b>First name:</b>
  <%=h @media_person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @media_person.last_name %>
</p>

<p>
  <b>Dob:</b>
  <%=h @media_person.dob %>
</p>

<p>
  <b>Position:</b>
  <%=h @media_person.position %>
</p>


<%= link_to 'Edit', edit_media_person_path(@media_person) %> |
<%= link_to 'Back', media_people_path %>