<p>
  <b>F name:</b>
  <%=h @customer.first_name %>
</p>

<p>
  <b>L name:</b>
  <%=h @customer.last_name %>
</p>

<p>
  <b>Street_1:</b>
  <%=h @customer.street_1 %>
</p>

<p>
  <b>Street_2:</b>
  <%=h @customer.street_2 %>
</p>

<p>
  <b>City:</b>
  <%=h @customer.city %>
</p>

<p>
  <b>Zip:</b>
  <%=h @customer.zip %>
</p>

<p>
  <b>State:</b>
  <%=h @customer.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @customer.phone %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>